{% extends '_layouts/site' %}

{# testing website commit #}
{# DECLARATION #}
{% set classType=""%}

{# ASIGNATION #}

{# CODE #}
{% block content %}


<body>  

    <main>
        {# History section: title and text #} 
        <section class="c-section -content -aboutHeader" id="sectionsBio">
            <div class="o-wrapper -sections">

                <h2>{{entry.aboutContentTitle|nl2br}}</h2>
                {{entry.aboutContentText}}
            </div>
        </section >
        {# Biography section: title,text and background image #} 
        <section class="c-section -content -bio" id="sectionsBio">
            <div class="o-wrapper">
                <div class="o-layout o-layout--equal-height">

                    <div class="o-layout__item u-2/5" id="mobile-sectionBio">
                        <div class="c-bio" id="mobile-sectionBioDiv">
                            <h2>{{entry.aboutBiographyTitle|nl2br}}</h2>
                                {{entry.aboutBiographyText}}</div></div>

                        <div class="c-bio-image o-layout__item u-3/5" style="background-image: url('{{entry.aboutBiographyImage.one.url() }}');">   </div>
                    </div>
                </div>
        </section >
        {# Team section: title and Accordion filled with professionals #} 
        <section id="sectionsBio">
            <div class="o-wrapper">

                <h2 class="c-accordion_title">Notre équipe</h2>

                <ul class="c-accordion">
                    {% for tab in entry.aboutTeam.all() %}
                    {% set title    = tab.professionTitle%}
                    {% set content  = tab.professionList%}

                    <li>
                        <div class="c-accordion_clickable"> 
                            <h3>{{title}}</h3>
                            <hr>
                  
                         <div class="c-accordion_arrow"> <img src="assets/images/icons/left-arrow.svg" alt="arrow"> </div>
                          
                        </div>

                        <div class="c-accordion_hide">

                            <div class="c-content">
                              {{content}}
                            </div>

                        </div>

                    </li>
                    {% endfor %}
                </ul>

            </div>
        </section>


        </main>


    </body>
           
    {% endblock  %}

