{% extends '_layouts/site' %}

{# DECLARATION #}
{% set classType=""%}

{# ASIGNATION #}

{# CODE #}
{% block content %}


<body>  

    <main>
       {# Career section: title, text 
       Contact information list: icons with info #} 
        <section class="c-section -career">
            <div class="o-wrapper -sections">
                <h2>  {{entry.careerHeaderTitle}} </h2>
                 {{entry.careerHeaderText}}
             
            </div>
               
                <div class="o-wrapper">
                <ul class="c-career-information o-layout--equal-height o-layout">

                                <li class="c-career-information_phone o-layout__item u-1/3@landscape-medium-tablet"> 
                                    <figure>      
                                         <p>{{'Phone'|t}}: </p>
                                         <p>{{options.optPhone}}, option 8</p>
                                    </figure>
                              
                                </li>

                                <li class="c-career-information_fax o-layout__item  u-1/3@landscape-medium-tablet"> 
                                    <figure>  
                                        <p>{{'Fax'|t}}: </p>
                                        <p>{{options.contactFax}}</p>  
                                    </figure>
                                  
                                </li>
                        
                                <li class="c-career-information_adress o-layout__item u-1/3@landscape-medium-tablet"> 
                                    <figure>
                                        <p>{{'In person'|t}}: </p>
                                        <p>{{options.adressStreet}}</p>
                                        <p>{{options.adressCity}}</p> 
                                    </figure>
                                   
                                </li>
                  </ul> 
                </div>
               

        </section >

        {# Job Application section: Title, text #} 
        <section class="c-section -cv-main" >
        <section class="c-section -cv">
            <div class="o-wrapper -sections">
                <h2>{{entry.careerContentTitle}}</h2>
                 {{entry.careerContentText}}
            </div>
        </section >
        {# Application form #} 
        <section>
            <div class="o-wrapper -form">
                <form method="post" action="" accept-charset="UTF-8" id="form">
                    {{ csrfInput() }}
                    <input type="hidden" name="action" value="contact-form/send">
                    {# Redirect to home page after form submit #}
                

                     {# Form: firstname, lastname #} 
                    <div class="o-layout" >

                        <div class="o-layout__item u-1/2@portrait-medium-tablet u-1/1" >
                           <label for="fname">{{"Firstname"|t}}</label>
                           <input id="fname" type="text" value="" required>
                       </div>

                       <div class="o-layout__item u-1/2@portrait-medium-tablet u-1/1" >
                        <label for="lname">{{"Lastname"|t}}</label>
                        <input id="lname" type="text" value="" required>
                        </div>
                    </div>
                 {# Form: email, phone #} 
                 <div class="o-layout" >

                    <div class="o-layout__item u-1/2@portrait-medium-tablet u-1/1" >
                      <label for="from-email">{{"Email"|t}}</label>
                      <input id="from-email" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}" required>
                  </div>

                  <div class="o-layout__item u-1/2@portrait-medium-tablet u-1/1" >
                    <label for="phone">{{"Phone"|t}}</label>
                    <input id="phone" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="phone" value="{{ message.phone ?? '' }}">
                    </div>
                </div>
            {# Form: cv attachment  #} 
            <label for="attachmentTwo">{{"Attach your curriculum vitae"|t}}</label>
            <div class="c-file-upload -cv">
                    <div class="c-file-select">
                    <div class="c-file-select-name" id="noFile-cv"></div> 
                    <div class="c-file-select-button" id="fileName-cv">
                            {# Cv attachment upload icon #} 
                            <svg width="24px" height="22px" viewBox="0 0 24 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>upload copy</title>
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="CARRIERE" transform="translate(-973.000000, -1758.000000)" fill="#000000" fill-rule="nonzero">
                                    <g id="upload-copy" transform="translate(973.000000, 1758.000000)">
                                        <path d="M23.2728814,10.7306636 C22.8915254,10.7306636 22.5864407,11.0327231 22.5864407,11.4102975 L22.5864407,17.5924485 C22.5864407,19.273913 21.2033898,20.6382151 19.5101695,20.6382151 L4.44915254,20.6382151 C2.75084746,20.6382151 1.37288136,19.2688787 1.37288136,17.5924485 L1.37288136,11.309611 C1.37288136,10.9320366 1.06779661,10.6299771 0.686440678,10.6299771 C0.305084746,10.6299771 0,10.9320366 0,11.309611 L0,17.5924485 C0,20.0240275 1.99830508,21.9974828 4.44915254,21.9974828 L19.5101695,21.9974828 C21.9661017,21.9974828 23.959322,20.0189931 23.959322,17.5924485 L23.959322,11.4102975 C23.959322,11.0377574 23.6542373,10.7306636 23.2728814,10.7306636 Z" id="Shape"></path>
                                        <path d="M8.1,5.49496568 L11.2932203,2.33340961 L11.2932203,16.1224256 C11.2932203,16.5 11.5983051,16.8020595 11.979661,16.8020595 C12.3610169,16.8020595 12.6661017,16.5 12.6661017,16.1224256 L12.6661017,2.33340961 L15.859322,5.49496568 C15.9915254,5.62585812 16.1694915,5.69633867 16.3423729,5.69633867 C16.520339,5.69633867 16.6932203,5.63089245 16.8254237,5.49496568 C17.0949153,5.22814645 17.0949153,4.80022883 16.8254237,4.53340961 L12.4627119,0.21395881 C12.3355932,0.0881006865 12.1576271,0.0125858124 11.979661,0.0125858124 C11.7966102,0.0125858124 11.6237288,0.0830663616 11.4966102,0.21395881 L7.13389831,4.53340961 C6.86440678,4.80022883 6.86440678,5.22814645 7.13389831,5.49496568 C7.39830508,5.75675057 7.83559322,5.75675057 8.1,5.49496568 Z" id="Shape"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <input type="file" name="attachment" id="chooseFile-cv" accept="application/pdf" required>
                    </div>
                    
            </div>
             {# Form: cover letter attachment#} 
            <label for="attachmentTwo">{{"Attach your letter"|t}}</label>
            <div class="c-file-upload -letter">
                    <div class="c-file-select">
                    <div class="c-file-select-name" id="noFile-letter"></div> 
                    <div class="c-file-select-button" id="fileName-letter">
                            {# Cover letter upload icon #} 
                            <svg width="24px" height="22px" viewBox="0 0 24 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>upload copy</title>
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="CARRIERE" transform="translate(-973.000000, -1758.000000)" fill="#000000" fill-rule="nonzero">
                                    <g id="upload-copy" transform="translate(973.000000, 1758.000000)">
                                        <path d="M23.2728814,10.7306636 C22.8915254,10.7306636 22.5864407,11.0327231 22.5864407,11.4102975 L22.5864407,17.5924485 C22.5864407,19.273913 21.2033898,20.6382151 19.5101695,20.6382151 L4.44915254,20.6382151 C2.75084746,20.6382151 1.37288136,19.2688787 1.37288136,17.5924485 L1.37288136,11.309611 C1.37288136,10.9320366 1.06779661,10.6299771 0.686440678,10.6299771 C0.305084746,10.6299771 0,10.9320366 0,11.309611 L0,17.5924485 C0,20.0240275 1.99830508,21.9974828 4.44915254,21.9974828 L19.5101695,21.9974828 C21.9661017,21.9974828 23.959322,20.0189931 23.959322,17.5924485 L23.959322,11.4102975 C23.959322,11.0377574 23.6542373,10.7306636 23.2728814,10.7306636 Z" id="Shape"></path>
                                        <path d="M8.1,5.49496568 L11.2932203,2.33340961 L11.2932203,16.1224256 C11.2932203,16.5 11.5983051,16.8020595 11.979661,16.8020595 C12.3610169,16.8020595 12.6661017,16.5 12.6661017,16.1224256 L12.6661017,2.33340961 L15.859322,5.49496568 C15.9915254,5.62585812 16.1694915,5.69633867 16.3423729,5.69633867 C16.520339,5.69633867 16.6932203,5.63089245 16.8254237,5.49496568 C17.0949153,5.22814645 17.0949153,4.80022883 16.8254237,4.53340961 L12.4627119,0.21395881 C12.3355932,0.0881006865 12.1576271,0.0125858124 11.979661,0.0125858124 C11.7966102,0.0125858124 11.6237288,0.0830663616 11.4966102,0.21395881 L7.13389831,4.53340961 C6.86440678,4.80022883 6.86440678,5.22814645 7.13389831,5.49496568 C7.39830508,5.75675057 7.83559322,5.75675057 8.1,5.49496568 Z" id="Shape"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>    
                    </div>
                    <input type="file" name="attachment" id="chooseFile-letter" accept="application/pdf">
                    </div>
                    
            </div>

            <label for="message">Message</label>
            <textarea rows="10" id="message" name="message" required>{{ message.message ?? '' }}</textarea>

             <input type="submit" value="{{'Send'|t}}" > 

            </form>


            {# Succes alert on Form submit #}
            </div>    
               <div class="alert" id="alert">
                     <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                     <strong>{{'Your application has been sent!'|t}}</strong>
                </div>

    </section>

    </section>



</main>

</body>

{% endblock  %}
