{% extends '_layouts/site' %}

{# DECLARATION #}
{% set classType=""%}

{# ASIGNATION #}

{# CODE #}
{% block content %}

<body>  

<main>
        {# Contact us section #} 
        <section class="c-section-contact -content -bio">
            <div class="o-wrapper">
                    
                <div class="o-layout o-layout--equal-height">
                    {# Google map with marker #} 

                    <div class="o-layout__item u-2/3@landscape-large-tablet">

                        <div class="c-bio-image">

                               <div id="google-map"></div>
                        </div>
                    </div>
                        {# Contact informations: adress, phone, fax, email, business hours #} 
                        <div class="c-contact o-layout__item u-1/3@landscape-large-tablet" id="desktop-contactInfo"> 

                                <ul class="c-contact-information o-list-bare">

                                    <li class="c-contact-information_adress"> 
                                        
                                        <p>{{options.adressStreet}}</p>
                                        <p>{{options.adressCity}}</p> 
                                    </li>
                                    <li class="c-contact-information_phone"> 
                               
                                        <p>{{'Phone'|t}}: {{options.optPhone}}</p>
                                        <p>{{'Fax'|t}}: {{options.contactFax}}</p> 

                                    </li>

                                    <li class="c-contact-information_hours"> 
                              
                                        <p>{{'Monday to friday'|t}}: {{options.hoursWeek}}</p> 
                                        <p>{{'Saturday and Sunday'|t}}: {{options.hoursWeekend}}</p> 
                                    </li>

                                 </ul>  

                        </div>
                </div>
            </div>


             <div class="o-wrapper -contactInfo"> 

            <ul class="c-contact-information o-list-bare" id="mobile-contactInfo"> 

                        <li class="c-contact-information_adress"> 
                            
                            <p>{{options.adressStreet}}</p>
                            <p>{{options.adressCity}}</p> 
                        </li>
                        <li class="c-contact-information_phone"> 
                   
                            <p>{{'Phone'|t}}: {{options.optPhone}}</p>
                            <p>{{'Fax'|t}}: {{options.contactFax}}</p> 

                        </li>

                        <li class="c-contact-information_hours"> 
                  
                            <p>{{'Monday to friday'|t}}: {{options.hoursWeek}}</p> 
                            <p>{{'Saturday and Sunday'|t}}: {{options.hoursWeekend}}</p> 
                        </li>

                     </ul>  
    
            </div>

        </section>

       

</main>

</body>
           
              
{% endblock  %}
