{% extends '_layouts/site' %}

{# DECLARATION #}
{% set classType=""%}

{# ASIGNATION #}

{# CODE #}
{% block content %}


<body>  

    <main>
 
        <section class="c-section -content -homeHeader">
            <div class="o-wrapper -sections">
                <h2>{{entry.contentTitle|nl2br}}</h2>
                {{entry.contentText}}
            </div>
        </section >

        <section class="c-section -partners">
         <div class="o-wrapper -sections">

            <h2>{{entry.partnersTitle|nl2br}}</h2>
            <div class="c-partners-content">{{entry.partnersText}}</div>
        </div>
        <div class="o-wrapper -sections">

            <ul id="ul-partners-logos" class="o-layout o-layout--auto o-layout--equal-height" > 
                {% for logo in entry.partnersLogo.all() %}
                <li class="o-layout__item" >
                     <img src="{{  logo.partnerLogo.one.url('partners') }}" alt="partenaires ">
                </li>
                {% endfor %}

            </ul>
        </div>
    </section>




</main>

</body>
      
{% endblock  %}