
{# DECLARATION #}
{% set classType=""%}
{% set classTitle=""%}
{% set pages = ""%}

{# ASIGNATION #}
{% set menu = craft.entries.section('menuMain').level(1).all() %}

{# CODE #}
<!doctype html>
<html lang="{{craft.app.language}}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" href="https://resources/demos/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body  id="barba-wrapper">  
    <div class="barba-container o-page-type-{{entry.type}}" data-namespace="page" >
        <div class="page-load-transition"></div> <img class="page-load-transition_logo" src="assets/images/logo/GMF_Logo.svg" alt="GMF Robert Laberge">
        <style>
            .site {
                margin-top: 100vh;
                background: white;

            } 
            .page-load-transition {
                position: fixed;
                width: 100vw;
                height: 100vh;
                z-index: 9999999;
                background: #4889FB;
                top: 0;
            }
            .page-load-transition_logo {
                position: fixed;
                margin: auto;
                z-index: 99999999;
                transform: translate(-50%,-50%);
                top: 50%;
                left: 50%;
            }
            html {
                overflow: hidden;
            }



         </style>

         <div class="site" >
             

        
        <header>
            {# 1st Level Header: phone number and email #}
            <nav class="c-second-menu">
                <div class='o-wrapper'>
                    <ul class='o-list-bare c-second-menu_ul'>
                        <li class='c-second-menu-telephone'> <p class='c-second-menu-telephone_content'>{{options.optPhone}}</p>  </li>
                        <li class='c-second-menu-email'> <a href="mailto:{{options.optEmail}}" class='c-second-menu-email_content'>{{options.optEmail}}</a> </li>
                    </ul>
                </div>
            </nav>
             {# 2nd Level Header: Logo and navigation menu for pages #}
            <div class="c-main-menu">
                <div class='o-wrapper'>
                    <div class="c-main-menu-wrap">
                          <div class="c-header-logo"> <a href="{{siteUrl}}"><img src="assets/images/logo/GMF_Logo.svg" alt="GMF Robert Laberge"> </a></div>
                        <nav class="c-main-menu_navigation">
                            <ul class='o-list-bare c-main-menu_ul'>
                                {% for page in menu %}
                                <li> <a href="{{page.menuPage.getUrl()}}"> {{page.title}} </a></li>

                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- Mobile: Top Navigation Menu -->
            <div class="c-mobile-nav">

                 <a href="{{siteUrl}}" class="active"><img src="assets/images/logo/GMF_Logo_Black.svg" alt="GMF Robert Laberge"></a>
                 
                <a class='active phone'  href="tel:{{options.optPhone}}"><!-- {{options.optPhone}} --></a>
               <a class='active email'   href="mailto:{{options.optEmail}}"><!-- {{options.optEmail}} --></a>
            
             
              <!-- Navigation links (hidden by default) -->
              <div id="myLinks">
                    {% for page in menu %}
                   <a href="{{page.menuPage.getUrl()}}"> {{page.title}} </a>
                    {% endfor %} 
                    <a id="phoneLink"  style="display: block;" href="tel:{{options.optPhone}}">{{options.optPhone}}</a>
                    <a id="emailLink"  style="display: block;" href="mailto:{{options.optEmail}}">{{options.optEmail}}</a>
            
              </div>
              <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
              <a href="javascript:void(0);" class="icon" onclick="mobileNavMenu()">
                <i class="fa fa-bars"></i>
              </a>
            </div>

            {# Header title and background image #} 
            <div class='c-banner'>
                {% if (entry.type == 'home') %}
                <div style='background-image: url("{{entry.homeBackground.one.url()}}"); ' class='c-banner-home'>
                    <div class='o-wrapper'>
                        <div class='c-banner-title'> <p class='c-banner-title_content'>{{entry.homeBannerTitle|nl2br}}</p>  </div>
                    </div>
                </div>
                {% elseif (entry.type == 'about') %} 

                    <div style='background-image: url("{{entry.aboutBackground.one.url()}}"); ' class='c-banner-page'>
                      <div class='o-wrapper'>
                         <div class='c-banner-title'> <p class='c-banner-title_content'>{{entry.aboutBannerTitle|nl2br}}</p>  </div>
                    </div>
                </div>
                     {% else %} 

                    <div style='background-image: url("{{entry.servicesBackground.one.url()}}"); ' class='c-banner-page'>
                      <div class='o-wrapper'>
                         <div class='c-banner-title'> <p class='c-banner-title_content'>{{entry.servicesBannerTitle|nl2br}}</p>  </div>
                    </div>
                </div>
                {% endif %}

            </div>


            {# Home: Header Navigation menu for appointments #} 
            {% if (entry.type == 'home') %}
{#           //ONE BLOCK WITH SHADOW
            <div class='c-services'>
                <div class='o-wrapper'>
                    <nav class="c-services_navigation">    
                        <div class="o-wrapper -two">
                            <ul class='o-layout o-layout--middle c-services_ul'>
                                {% for service in entry.homeBannerServices.all() %}
                                {% if service.type == "service" %}
                                {% if service.serviceType.value == "0" %}
                                {% set classType="c-services-0"%}
                                {% set classTitle="clinique\nsans rendez-vous"%}
                                {% elseif service.serviceType.value == "1" %}
                                {% set classType="c-services-1"%}
                                {% set classTitle="rendez-vous\navec votre médecin"%}
                                {% elseif service.serviceType.value == "2" %}
                                {% set classType="c-services-2"%}
                                {% set classTitle="trouver un\nmédecin de famille"%}
                                {% endif %} 

                                <li class="o-layout__item {{classType}}"> 
                                    <h3>{{ classTitle|nl2br }}</h3>
                                    <a class="c-btn--primary" href="{{service.serviceLink}}"> {{'learn more'|t}} </a>
                                </li> 
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
 #}

            <div class='c-our-services'>
                <div class="o-wrapper">
                    <nav class="c-our-services_navigation">    
                            <ul class='c-home-services_ul o-layout'>
                                {% for service in entry.homeBannerServices.all() %}
                                {% if service.type == "service" %}
                                {% if service.serviceType.value == "0" %}
                                {% set classType="c-services-0"%}
                                {% set classTitle="clinique\nsans rendez-vous"%}
                                {% elseif service.serviceType.value == "1" %}
                                {% set classType="c-services-1"%}
                                {% set classTitle="rendez-vous\navec votre médecin"%}
                                {% elseif service.serviceType.value == "2" %}
                                {% set classType="c-services-2"%}
                                {% set classTitle="trouver un\nmédecin de famille"%}
                                {% endif %} 

                                <li class='o-layout__item u-1/3@portrait-medium-tablet u-1/1'>
                                   <a class="c-card_link" href="{{service.serviceLink}}">
                                    <div class="c-card">

                                        <h3 class="c-services-h3" style="max-width: 300px;">{{  classTitle|nl2br }}</h3>
                                        <ul>
                                            <li>
                                                 <a class="c-btn--primary" href="{{service.serviceLink}}"> {{'learn more'|t}} </a>
                                                 
                                            </li>
                                        </ul>
                                         {% endif %}
                                      
                                    </div>
                                    </a>
                                </li> 


                                {% endfor %}
                            </ul>
                    </nav>
                </div>
            </div>


            {% endif %}
        </header>



        <main>
            {% block content %}{% endblock  %}

        </main>
        {# 1st Level Footer: Tips with button link #} 
        <footer>
            {% if (entry.type != 'career') %}
                    <div class="c-footer_tips" id="tips">
                     <div class="o-wrapper">
                        <div class="o-layout o-layout--middle">
                           <div class="o-layout__item u-2/3@landscape-small-tablet">
                            <h3>{{entry.footerTitle}}</h3>
                            <p>{{entry.footerInfo}}</p>
                        </div>

                        <div class="o-layout__item u-1/3@landscape-small-tablet">
                            <a class="btn btn-white btn-animation-1" target="_blank" href="{{entry.footerLink.getUrl()}}"> {{entry.footerLink.text}} </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
    {# 2nd Level Footer: Contact information #} 
    <div class="c-footer_contact">
        <div class='o-wrapper'>
                    <ul class='o-layout o-layout--small'>

                        <li class="o-layout__item u-1/4@landscape-medium-tablet u-1/2@portrait-large-handset"> 
                             <img src="assets/images/logo/GMF_Logo_Black.svg" alt="GMF Robert Laberge"> 
                        </li>

                        <li class="o-layout__item u-1/4@landscape-medium-tablet u-1/2@portrait-large-handset"> 
                            <h4>{{options.adressTitle}}</h4> 
                            <p>{{options.adressStreet}}</p>
                            <p>{{options.adressCity}}</p> 
                        </li>
                        <li class="o-layout__item u-1/4@landscape-medium-tablet u-1/2@portrait-large-handset">
                            <h4>{{options.contactTitle}}</h4> 
                            <p>{{'Phone'|t}}: {{options.optPhone}}</p>
                            <p>{{'Fax'|t}}: {{options.contactFax}}</p> 

                        </li>

                        <li class="o-layout__item u-1/4@landscape-medium-tablet u-1/2@portrait-large-handset"> 
                            <h4>{{options.hoursTitle}}</h4> 
                            <p>{{'Monday to friday'|t}}: {{options.hoursWeek}}</p> 
                            <p>{{'Saturday and Sunday'|t}}: {{options.hoursWeekend}}</p> 
                        </li>

                    </ul>
        </div>
    </div>   


    {# 3rd Level Footer: Navigation menu for appointments and Copyright #}  
    <div class="c-footer_links">
        <div class='o-wrapper'>

            <div class='o-layout o-layout--left'>
             <div id="footer_links-menu" class="o-layout__item u-3/5@landscape-large-tablet">
               <ul class='o-layout o-layout--left o-layout--auto'>

                {% for service in options.servicesMenu.all() %}
                <li class="o-layout__item">   <a href="{{service.serviceLink}}"> {{service.appointmentType.label}}</a> </li>
                {% endfor %}

            </ul> 
        </div>

          <div class="o-layout__item u-2/5@landscape-large-tablet o-copyright  "> <p> Copyright {{now|date('Y')}} &#9400; {# Copyright symbol #} {{siteName}}. {{"All rights reserved"|t}} </p></div>
        </div>
    </div>
</div>



</footer>
    <script defer src="assets/js/scripts.js"></script>


 </div>
    </div>
</body>
</html>                 